* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.header {
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.option {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.option p {
    color: #707070;
    transition: all 0.2s;
    margin-top: 10px;
}

.option p:hover {
    color: #3c82f4;
    transition: all 0.2s;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons p {
    color: #707070;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.buttons p:hover {
    color: #3c82f4;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

#use-case {
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: #707070;
    border: none;
    transition: all 0.2s;
}

#use-case:hover {
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: #3c82f4;
    border: none;
    transition: all 0.2s;
}

.buttons button {
    margin-top: 5px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #0400ff;
    font-size: 19px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.buttons button:hover {
    background-color: #306ef7;
    transform: scale(1.05);
}

.asosiy {
    margin: 150px;
    width: 85%;
    text-align: center;
    font-size: 50px;
}

.soz-grid {
    color: #fe6783;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 5px;
    text-align: center;
}

.button p {
    font-size: 30px;
}

.counter {
    display: flex;
    justify-content: center;
}

.counter p {
    margin-left: 17px;
    color: #707070;
    font-size: 22px;
    margin-top: 7px;
}

.counter h2 {
    margin-top: 7px;
}

.counter img {
    margin-top: 7px;
    margin-right: 10px;
}

.button2 {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.start {
    background-color: #0048ff;
    width: 313px;
    height: 77px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.demo {
    cursor: pointer;
    color: #707070;
    width: 313px;
    height: 77px;
    border-radius: 10px;
    border: 2px solid #707070;
    transition: all 0.2s;
}

.start:hover {
    cursor: pointer;
    background-color: black;
    color: #ffffff;
    width: 313px;
    height: 77px;
    border-radius: 10px;
    border: none;
    transition: all 0.2s;
    border: 2px solid #707070;
}

.demo:hover {
    cursor: pointer;
    color: #ffffff;
    width: 313px;
    height: 77px;
    border-radius: 10px;
    border: 2px solid #326cf9;
    background-color: #326cf9;
    transition: all 0.2s;
}

.why-creators {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.cards {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.card {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 443px;
    height: 95px;
}

.card h1 {
    text-align: center;
    font-size: 25px;
}

.card p {
    text-align: center;

    color: #707070;
}

.why {
    color: #ffffff;
    font-size: 70px;
    margin-left: 270px;
}

.setp-1 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.setp-1 h1 {
    font-size: 75px;
}

.setp-1 p {
    font-size: 30px;
    color: #707070;
}

.setp-1 button {
    margin-top: 40px;
    margin-left: 790px;
    margin-right: 150px;
    width: 313px;
    height: 77px;
    border-radius: 10px;
    color: #707070;
    border: 2px solid #707070;
    cursor: pointer;
    transition: all 0.2s;
}

.setp-1 button:hover {
    margin-top: 40px;
    margin-left: 790px;
    margin-right: 150px;
    width: 313px;
    height: 77px;
    border-radius: 10px;
    color: #ffffff;
    border: 2px solid #707070;
    transition: all 0.2s;
    background-color: #0048ff;
    cursor: pointer;
}

.your-home-page {
    width: 1734.21px;
    height: 715px;
    display: flex;
    justify-content: space-between;
}

.box2 {
    margin-top: 150px;
    display: flex;
    justify-content: end;
}

.textlar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.textlar h1 {
    font-size: 70px;
}

.color {
    color: #3c82f4;
}

.doira {
    background-color: #707070;
    font-size: 20px;
    border-radius: 50%;
}

.click {
    display: flex;
    gap: 30px;
}

.click button {
    width: 207px;
    height: 65px;
}

.blue {
    background-color: #0048ff;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    transition: all 0.2s;
}

.blue:hover {
    background-color: black;
    border-radius: 10px;
    border: 2px solid #707070;
    font-size: 17px;
    transition: all 0.2s;
}

.black {
    background-color: black;
    border-radius: 10px;
    border: 2px solid #707070;
    font-size: 16px;
    color: #707070;
    transition: all 0.2s;
}

.black:hover {
    background-color: #0048ff;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    transition: all 0.2s;
}

.qadam2 {
    margin-top: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qadam2 h1 {
    font-size: 50px;
}

.qadam2 p {
    font-size: 20px;
    color: #707070;
}

.bowl {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cnt {
    display: flex;
    justify-content: center;
}

.bowl button {
    color: white;
    background-color: #0048ff;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin: 100px;
    margin-left: 900px;
    width: 283px;
    height: 74px;
    transition: all 0.2s;
}

.bowl button:hover {
    color: white;
    background-color: black;
    border-radius: 15px;
    border: 2px solid #707070;
    font-size: 20px;
    margin: 100px;
    margin-left: 900px;
    width: 283px;
    height: 74px;
    transition: all 0.2s;
}

.step-3 {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.step-3 h1 {
    font-size: 75px;
    margin-left: 100px;
}

.step-3 p {
    margin-left: 100px;
    font-size: 30px;
    color: #707070;
}

.carbon {
    display: flex;
    gap: 10px;
}

.carbon h3 {
    margin-bottom: 5px;
    text-align: center;
    background-color: #413e3e;
    border-radius: 50%;
    width: 30px;
}

.create-share {
    margin-top: 350px;
    display: flex;
    justify-content: end;
    gap: 290px;
}

.experts {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
}

.audience {
    margin-top: 80px;
    width: 100%;
}

.get-start {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

.container2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 200px;
}

.Logo {
    width: 200px;
    margin-left: 170px;
}

.get-start button {
    width: 472px;
    height: 102px;
    font-size: 30px;
    background-color: #326cf9;
    border-radius: 17px;
    border: none;
    margin-left: 30px;
    transition: all 0.2s;
}

.get-start button:hover{
    width: 472px;
    height: 102px;
    font-size: 30px;
    background-color: black;
    border-radius: 17px;
    border: 2px solid #707070;
    transition: all 0.2s;
}


.footer{
    margin-left: 150px;
}